.login-form input, button{
    border-radius: 4px;
}

.hidden {
    display: none;
}


/* 이 부분 나중에 다시 구현하기 */
/* 글자가 서서히 사라지는 애니메이션 */
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.good-bye {
    animation: fade-out 0.5s forwards; /* 글자가 서서히 사라진상태 유지 */
}

