/* 0. 전체 */
* {
    box-sizing: border-box;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bgimg {
    z-index: -1;
}



/* 1. 화면상단 */
.top {
    display: flex;
    align-items: center;
}
/* 로그아웃 버튼 */
.logout-btn {
    position: absolute;
    position: fixed;
    top: 24px;
    left: 24px;
}
.logout-btn input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 24px;
    font-size: 18px;
    color:white;
    background-color:transparent;
    border: solid 1px white;
}
/* 날씨 */
.weather {
    line-height: 150%;
    position: absolute;
    position: fixed;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
.weather span:last-child {
    font-size: 14px;
}

/* 2. 로그인&메인 화면 */
/* 기본적용 스타일 */
.login-form,
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    z-index: 0;
}
/* 로그인&메인 화면문구 */
.login-form span,
.main .greetings {
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 24px;
}
/* 로그인폼 입력박스 */
.login-form input{
    display: block;
    font-size: 52px;
    font-weight: 600;
    width: 540px;
    color: white;
    text-align: center;
    border-bottom: white 3px solid;
}
.login-form input:focus{
    outline: none;
}
/* 로그인 버튼 */
.login-form button {
    margin-top: 36px;
    width: 120px;
    height: 50px;
    border-radius: 24px;
    font-size: 18px;
    color:white;
    background-color:transparent;
    border: solid 1px white;
}
/* 시계 */
.clock {
    margin: 0;
    font-size: 180px;
    font-weight: 500;
}
.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* To-Do 화면문구 */
.todo-form span {
    font-size: 36px;
    font-weight: 400;
}
/* To-Do 입력박스 */
.todo-form input{
    font-size: 38px;
    font-weight: 500;
    width: 600px;
    color: white;
    text-align: center;
    border-bottom: white 2px solid;
}
.todo-form input:focus{
    outline: none;
}
.todo-list {
    margin-top: 32px;
    list-style: none;
}
.todo-list span {
    font-size: 28px;
    font-weight: 500;
    margin-right: 6px;
}
.todo-list button {
    background-color: transparent;
    font-size: 28px;
}

/* 인용구 */
.quotes {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 150%;
    font-size: 18px;
    position: absolute;
    bottom: -400px;
}
.quotes span:last-child{
    opacity: 0.5;
    font-size: 14px;
}

/* 기타등등 */
.hidden {
    display: none;
}